.main {
  width: 700px;
  background-color: rgb(24, 24, 61);
  margin: auto;
  margin-top: 50px;
  border-radius: 50px;
  height: 800px;
  padding: 40px;
  /* display: flex;
  justify-content: space-around; */
}
